body {
    background-color:#ffffff;
}


.right
{
    text-align: right;
}
.expenseRow{
    padding: 5px;
    border: 2px solid white;
}
.activityListView{

    float:left;
    width:100%; 
    margin-left: 30px;
    margin-top: 20px;


}
.activity{
    margin-left: 30px;
    margin-top: 20px;
    width:93%; 
}

.activity-name{
    width:60%; 
}

.activity-amount{
    width:35%;  
    float: end;
}

.activity-name, .activity-amount{
    display: inline-block;
    line-break: normal;
}

.expense
{
    width:91%; 
    margin-left: 40px;
    margin-top: 0px;
}

.expense-name
{
    width:60%;
}

.expense-amount
{
    width:37%;
    float: end;
}

.expense-name, .expense-amount{
    display: inline-block;
    line-break: normal;
    margin-top: 10px;
}

.expenseList {
    float:left;
    margin-left: 0px;
    margin-top: 20px;
    background-color: yellow;
}


.budgetEntry{
    margin-left: 30px;
    margin-top: 20px;
    line-break: normal;
}

.budgetEntry-desc{
    width:60%;
    /*    margin-right: 95px;
        margin-left: 95px;*/
}
.budgetEntry-amount{
    width:38%;
    float: end;
    margin-right: 5px;
    line-break: normal;
    text-align: right;
}

.budgetEntry-title{
    line-break: normal;
}

.budgetEntry-desc, .budgetEntry-amount {
    display: inline-block;
    line-break: normal;
}

.prevYear {
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}

.currentYear {
    position:absolute;
    right:50%;
    width: 30px;
    margin-top: 5px;
}

.nextYear {
    float:right;
    margin-right: 10px;
    margin-top: 5px;
}

.yearHeader {
    position:relative;
    height:30px; width:100%; 
    float:left; 
}
