body {
    background-color:#ffffff;
}

.budgetEntry-desc{
}
.budgetEntry-amount{
    float: right;
}

.budgetEntry-title{
}

.budgetEntry-desc, .budgetEntry-amount {
    display: inline-block;
}
.expenseRow{

border: 2px solid white;
}


.activityListView{

    float:left;
    margin-left: 30px;
    margin-top: 20px;
    width:40%;
    

}
.activityList{


}
.activity{
Text-align:center;
margin-top: 20px;


}

.activity-name{
        float:left;
        
}

.activity-amount{
    float:right;
            
}



.activity-name, .activity-amount{
    display: inline-block;
        

}

.expense
{
width:100%;
margin: 0px;
}

.expense-name
{

}

.expense-amount
{
            float:right;
}

.expense-name, .expense-amount{
    display: inline-block;
    margin-top: 10px;
}

.expenseList {
    float:left;
    margin-left: 0px;
    margin-top: 20px;
    background-color: yellow;
}



.budgetEntry{
    margin-left: 30px;
    margin-top: 20px;
}



.prevYear {
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}
.currentYear {
    position:absolute;
    right:50%;
    width: 30px;
    margin-top: 5px;
}
.nextYear {
    float:right;
    margin-right: 10px;
    margin-top: 5px;
}
.yearHeader {
    position:relative;
    height:30px; width:100%; 
    float:left; 
}
