body {
    background-color:#ffffff;
}

.budgetEntry-desc{
    margin-right: 5px;
}
.budgetEntry-amount{
    float: end;
    margin-right: 5px;
    line-break: normal;
}

.budgetEntry-title{
    line-break: normal;
}

.budgetEntry-desc, .budgetEntry-amount {
    display: inline-block;
    line-break: normal;
}

.activityListView{

    float:left;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #eae9d7;
    border: activeborder;
    border-bottom-color: yellow;


}
.activity{
    margin-left: 30px;
    margin-top: 20px;
    background-color: #333333;
    color: aliceblue;
    border: activeborder;
    border-bottom-color: yellow;

}

.activity-name{
    margin-right: 80px;
    color: aliceblue;
    font-family:"Georgia", sans-serif;
    font-stretch: expanded;
    font-size: 14px;
}

.activity-amount{
    float: end;
    color: aliceblue;
    font-family:"Georgia", sans-serif;
    font-stretch: expanded;
    font-size: 14px;

}



.activity-name, .activity-amount{
    display: inline-block;
    line-break: normal;
}

.expense
{
    margin-left: 30px;
    margin-top: 0px;
    background-color: lightblue;
}

.expense-name
{
    margin-right: 80px
}

.expense-amount
{
    float: end;
}

.expense-name, .expense-amount{
    display: inline-block;
    line-break: normal;
    margin-top: 10px;
}

.expenseList {
    float:left;
    margin-left: 0px;
    margin-top: 20px;
    background-color: yellow;
}

.expenseList {
    background-color: yellow;
}


.budgetEntry{
    margin-left: 30px;
    margin-top: 20px;
    background-color: #eae9d7;
    line-break: normal;
}




.prevYear {
    color: #333333;
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}
.currentYear {
    position:absolute;
    right:50%;
    color: #818076;
    width: 30px;
    margin-top: 5px;
    font-family:"Arial", sans-serif;
}
.nextYear {
    color: #333333;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
}
.yearHeader {

    position:relative;
    height:30px; width:100%; 
    border-color:#818076; 
    border-style:solid; 
    border-width:2px; 
    float:left; 
    background-color:#eae9d7
}
