body {
    background-color:#ffffff;
}

.budgetEntry-desc{
    margin-right: 5px;
}
.budgetEntry-amount{
    float: end;
    margin-right: 5px;
    line-break: normal;
}

.budgetEntry-title{
    line-break: normal;
}

.budgetEntry-desc, .budgetEntry-amount {
    display: inline-block;
    line-break: normal;
}
.expenseRow{
padding: 5px;
border: 2px solid white;
}
.activityListView{

    float:left;
    margin-left: 30px;
    margin-top: 20px;


}
.activity{
    margin-left: 30px;
    margin-top: 20px;

}

.activity-name{
    margin-right: 80px;
    font-size: 14px;
}

.activity-amount{
    float: end;
}



.activity-name, .activity-amount{
    display: inline-block;
    line-break: normal;
}

.expense
{
    margin-left: 30px;
    margin-top: 0px;
}

.expense-name
{
    margin-right: 80px
}

.expense-amount
{
    float: end;
}

.expense-name, .expense-amount{
    display: inline-block;
    line-break: normal;
    margin-top: 10px;
}

.expenseList {
    float:left;
    margin-left: 0px;
    margin-top: 20px;
    background-color: yellow;
}



.budgetEntry{
    margin-left: 30px;
    margin-top: 20px;
    line-break: normal;
}



.prevYear {
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}
.currentYear {
    position:absolute;
    right:50%;
    width: 30px;
    margin-top: 5px;
}
.nextYear {
    float:right;
    margin-right: 10px;
    margin-top: 5px;
}
.yearHeader {
    position:relative;
    height:30px; width:100%; 
    float:left; 
}
